@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

body{
    overflow: hidden;
    background: #11111f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paraTrilha{
    display: none;
    position: fixed;
    left: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

#ativarTrilha {
    position: fixed;
    left: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

#preloader {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242424;
    z-index: 99999;
}

.loader .title {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-family: arial;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

/*Loader Pin*/
.loader-pin {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    margin-left: 25px;
}

.loader-pin::after {
    content: '';
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 12px solid #d91616;
    background-color: #b50000;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader-pin::before {

    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 24px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
    0% {
        transform: rotate(45deg) translate(5px, 5px);
    }

    100% {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

@keyframes animShadow {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.1);
    }
}

#joystick {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: #ffffff7e;
    backdrop-filter: blur(30px);
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
}

#stick {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 50%;
    transform: translate(0, 0);
    transition: transform 0.1s ease-out;
}

@media(max-width: 900px) {
    #joystick {
        display: flex;
    }
}

#dia, #noite{
    pointer-events: all;
    background: #8f8f8f;
    cursor: pointer;
    color: #000000;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    box-shadow: 5px 5px 10px #000000be;
}

.blink {
    pointer-events: none;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    top: 0;
    z-index: 9999;
    animation: blinkAnimation 2s linear;
    display: none;
    color: #aff3ff;
}

@keyframes blinkAnimation {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

}

.balao {
    display: none;
    position: relative;
    background-color: #add8e6;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    margin: 20px;
    box-shadow: 10px 10px 10px #0000006e;
}

.balao::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #add8e6 transparent transparent transparent;
}

.balao p{
    color: #242424;
}

.car-shop{
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 80;
}

.iphones{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btnfechar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    padding-bottom: 20px;
    z-index: 9;
}

.fechar{
    display: none;
    pointer-events: all;
    color: white;
    border: 2px solid red;
    background: red;
    padding: 10px 13px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.Comprados {
    display: none;
    position: fixed;
    background: #111111;
    top: 0;
    right: 0;
    height: 100%;
    padding-bottom: 30px;
    width: 600px;
    z-index: 70;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s;
}

.Comprados.ativo {
    display: block;
    animation: aparecer .5s linear;
    pointer-events: all;
}

@keyframes aparecer{
    0%{
        transform: translateX(600px);
    }

    100%{
        transform: translateX(0);
    }
}

#table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lista {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.lista img {
    width: 100px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.lista .listaNome {
    width: 200px;
    color: #ffffffab;
    font-size: 20px;
    margin-right: 30px;
}

.lista .btns {
    margin-right: 30px;
    font-size: 20px;
    color: #ffffff9a;
}

.decrease-item,
.increase-item {
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 2px;
    border: none;
    cursor: pointer;
    background: white;
    color: black;
    transition: .4s;
}

.lista .btns span {
    margin-left: 5px;
    margin-right: 5px;
}

.precoItem{
    color: #ffffff9a;
}

.totalItens{
    width: 600px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #070707;
    color: white;
}

.btnFinal{
    pointer-events: all;
    position: fixed;
    bottom: 60px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #ffffffcb;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 10px #000000;
}

.pratosProntos, .legumes, .bebidas{
    pointer-events: all;
    background: #000000e3;
    backdrop-filter: blur(20px);
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    display: none;
    width: 90%;
    height: 90vh;
}

.pratosProntos.ativo, .legumes.ativo, .bebidas.ativo{
    display: block;
}

#iphone, #ipad, #Mac{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

#item-card {
    position: relative;
    margin: 70px auto;
    background: #353535;
    padding: 5px;
    border-radius: 10px;
}

#item-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#item-name {
    text-align: center;
    color: white;
    width: 100%;
    background: #353535;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ffffff31;
}

#item-price {
    color: #ffffffa9;
    width: 100%;
    background: #353535;
    font-size: 17px;
    padding: 10px 10px 50px 10px;
    text-align: center;
}

#card-top {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    z-index: 20;
}

#card-top button {
    background: #b8b8b8;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    border: none;
    outline: none;
}

#card-top button:hover {
    background: #385977;
    color: white;
}

#card-top button.ativo {
    background: #385977;
    color: white;
}


.title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}